<h2>
  User registration
</h2>
<form [formGroup]="formGroup">
  <section>
    <label for="registeredOn">Registered On</label>
    <input name="registeredOn"
           formControlName="registeredOn"
           type="date" />
  </section>
  <section>
    <label for="name">Name</label>
    <input name="name"
           formControlName="name"
           type="text" />
    <span>{{ getError('name')}}</span>
  </section>
  <section>
    <label for="email">E-mail</label>
    <input name="email"
           formControlName="email"
           type="email" />
    <span>{{ getError('email')}}</span>
  </section>
  <section>
    <label for="password">Password</label>
    <input name="password"
           formControlName="password"
           type="password" />
    <span>{{ getError('password')}}</span>
  </section>
  <section>
    <button (click)="register()"
            [disabled]="formGroup.invalid">Register me!</button>
  </section>
</form>
